$gap: calc(100vw * 0.016);

body {
  background: #fff;
  font-size: 14px;
  color: #333;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px;
}

.dg-split-line {
  margin: 0 9px;
  color: #9B9B9B;
}
.global-header {
  height: 100px;

  .header-title {
    float: left;
    margin-top: 36px;
    a {
      text-decoration: none;
    }
  }
}



.global-nav {
  float: right;
  margin: 0;
  line-height: 100px;
  li {
    display: inline-block;
    width: 90px;
    text-align: center;
    a {
      font-family: NotoSansHans-Regular,Helvetica,Arial,sans-serif;
      color: #333;
      text-decoration: none;
    }
  }
  .locale a {
    font-weight: bold;
  }
}

.home {
  .slides {
    margin-bottom: 80px;
    text-align: center;
    ul li{
      list-style: none;
      line-height: 99px;
      font-size: 36px;
      letter-spacing: 1.89px;
    }

    .slides-control {
      margin: 0 auto;
      width: 100px;
      text-align: center;
      a {
        font-size: 20px;
        color: #000;
        text-decoration: none;
        letter-spacing: 10px;
      }
    }
  }

  .works {
    margin: 0 auto;
    width: 80%;
    .row-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: calc(100vw * 0.121) calc(100vw * 0.156);
      grid-column-gap: $gap;
      grid-row-gap: $gap;
      .p-0 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .p-1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .p-2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .p-3 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
      }
    }
    .row-2, .row-3 {
      display: grid;
      margin-top: $gap;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $gap;
    }
  }
}

.global-footer {
  margin-top: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 14px;
  font-family: Helvetica;
  color: #9B9B9B;
  hr {
   width: 90%;
   border: 0;
   border-top: 1px solid #E7E7E7;
  }
  .social-media {
    float: right;
  }
}